/*body*/
body {
  margin: 0 auto; }
  body .all {
    width: auto;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    /*nav*/
    /*Home*/ }
    body .all .foto {
      width: 100%;
      height: 100%;
      background-image: url("../foto's/pic3 gespiegeld.jpg"); }
    @media only screen and (max-width: 1024px) {
      body .all .foto {
        background-image: url("../foto's/geedit.jpg"); } }
    body .all nav {
      width: 100%;
      height: 4%;
      position: fixed;
      background-color: transparent;
      color: #676964;
      top: 0;
      display: flex;
      z-index: 100; }
      body .all nav ul {
        width: 100%;
        font-family: sans-serif;
        list-style-type: none; }
      body .all nav li {
        float: left;
        padding: 0 3.7%;
        font-size: 13pt;
        font-weight: 500; }
      body .all nav a {
        text-decoration: none; }
      body .all nav li:hover,
      body .all nav li:focus {
        color: #a5a29f; }
    body .all .Home {
      width: 100%;
      height: 100vh;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      position: absolute;
      top: 0; }
      body .all .Home .banner {
        float: left;
        padding-left: 9%;
        padding-top: 8%; }
      body .all .Home h1 {
        color: #95928f;
        font-family: sans-serif;
        font-size: 250%;
        font-weight: 400; }
    body .all .About_me-con {
      width: 100%;
      height: 268px;
      padding: 50px 0;
      display: flex;
      align-items: center; }
      body .all .About_me-con .About-me-input {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        align-content: space-around; }
        body .all .About_me-con .About-me-input h1 {
          width: 20%;
          height: 100%;
          font-size: 50px;
          font-weight: 700;
          margin: 0 5% 10px 15%;
          display: inline-block; }
        body .all .About_me-con .About-me-input .who-is-david {
          width: 45%;
          height: 100%;
          padding-left: 15%; }
        body .all .About_me-con .About-me-input p {
          width: 100%;
          height: 20%;
          margin: 1%; }
    body .all .My_work {
      width: 100%;
      height: 550px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      align-content: space-around;
      background-color: #101010; }
    body .all footer {
      width: 100%;
      height: 400px;
      background-color: white; }
    body .all .contact {
      width: 100%;
      height: 90%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
      align-content: space-around;
      font-family: sans-serif; }
      body .all .contact .info {
        width: 20%; }
        body .all .contact .info p {
          font-size: 80%;
          color: #595959; }
      body .all .contact .social-m {
        margin-right: 20%; }
        body .all .contact .social-m ul {
          list-style-type: none;
          display: flex;
          padding-left: 0; }
        body .all .contact .social-m li a:hover,
        body .all .contact .social-m li a:focus {
          color: gray; }

/*# sourceMappingURL=styles.css.map */
