/*body*/
body {
  margin: 0 auto;

  .all {
    width: auto;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;

    .foto {
      width: 100%;
      height: 100%;
      background-image: url("../foto's/pic3 gespiegeld.jpg");

    }

    @media only screen and (max-width: 1024px) {

      .foto {
        background-image: url("../foto's/geedit.jpg")
      }

    }


    /*nav*/
    nav {

      width: 100%;
      height: 4%;
      position: fixed;
      background-color: transparent;
      color: #676964;
      top: 0;
      display: flex;
      z-index: 100;

      ul {
        width: 100%;
        font-family: sans-serif;
        list-style-type: none;

      }

      li {
        float: left;
        padding: 0 3.7%;
        font-size: 13pt;
        font-weight: 500;
      }

      a {
        text-decoration: none;
      }

      li:hover,
      li:focus {
        color: #a5a29f;
      }
    }

    /*Home*/
    .Home {
      width: 100%;
      height: 100vh;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      position: absolute;
      top: 0;

      .banner {
        float: left;
        padding-left: 9%;
        padding-top: 8%;
      }
      h1 {
        color: #95928f;
        font-family: sans-serif;
        font-size: 250%;
        font-weight: 400;
      }
    }

    //about me
    .About_me-con {
      width: 100%;
      height: 268px;
      padding: 50px 0;
      display: flex;
      align-items: center;

      //abount me input
      .About-me-input {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        align-content: space-around;

        h1 {
          width: 20%;
          height: 100%;
          font-size: 50px;
          font-weight: 700;
          margin: 0 5% 10px 15%;
          display: inline-block;
        }
        .who-is-david{
          width: 45%;
          height: 100%;

          padding-left: 15%;
        }
        p {
          width: 100%;
          height: 20%;
          margin: 1%;

        }
      }
    }


    .My_work {
      width: 100%;
      height: 550px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      align-content: space-around;
      background-color: #101010;
    }

    //footer
    footer {
      width: 100%;
      height: 400px;
      background-color: white;
    }



    .contact {
      width: 100%;
      height: 90%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      align-items: center;
      align-content: space-around;
      font-family: sans-serif;

      .info {
        width: 20%;

        p {
          font-size: 80%;
          color: #595959;

        }
      }

      .social-m {
        margin-right: 20%;

        ul {
          list-style-type: none;
          display: flex;
          padding-left: 0;

        }
        li {

          a:hover,
          a:focus {
            color: gray;
          }
        }

      }
    }
  }
}